# Dependencias
/node_modules

# Construcción
/dist
/build

# Archivos de configuración del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de configuración del editor
.vscode/
.idea/

# Archivos temporales de depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de caché
.cache/
*.log

# Archivos generados por el compilador
*.d.ts
*.js.map

# Archivos de prueba
*.test.js
*.test.ts
*.spec.js
*.spec.ts

# Directorios de construcción de herramientas de despliegue
.vercel/
.netlify/

# Archivos de configuración de linters
eslint*.json
.prettierignore
.prettierrc

# Archivos de estado de editor
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Excluir Firebase
firebase.json
firestore.indexes.json
firestore.rules
storage.rules
